.serie {
    width: 80%;
    height: 900px;
    padding: 10px;
    margin: 25px auto;
    border: 1px solid rgb(65, 161, 145);
    border-radius: 20px;
    background-image: url(./S.png);
    background-repeat: no-repeat;
}
p {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(207, 104, 36);
    font-size: 26px;
}
span {
    font-weight: 400;
    color: rgb(0, 0, 0);
}
img{
    display:block;
    margin:auto;
}
